#DATABASE
DATABASE_URL=YOUR_DATABASE_URL
#CLERK (SK_TEST.....)
CLERK_SECRET_KEY=YOUR_CLERK_SECRET_KEY
#CLERK WEBHOOK SECRET (whsec_)
CLERK_WEBHOOK_SECRET=YOUR_CLERK_WEBHOOK_SECRET
#BACK-END-PORT
PORT=3001
#Gemini Api key
GEMINI_KEY = YOUR_GEMINI_API_KEY